body,html {
	padding: 0;
	margin: 0;
	height: 100%;
}
#jsBox {
	width: 80%;
	margin: 10px auto;
}
#jsgrid{
	height: 100%;
}
#leftBar{
	height: 60px;
	position: sticky;
	border-bottom: 1px solid #ebebeb;
}

.chooseTopic {
	float: left;
	height: 100%;
	margin: 0 30px;
}
.chooseTopic a{
	line-height: 60px;
	text-decoration: none;
	color: #262626;
	font-size: 16px; 
}
.chooseTopic.logo a{
	font-size: 20px;
}
#chartContainer{
	width: 100%;
	height: 500px;
	padding: 80px 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
#dayContainer{
	width: 100%;
	height: 400px;
	padding: 0 20px 40px 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}


/*loading*/
.loadEffect{ width: 100px; height: 100px; position: relative; margin: 0 auto; margin-top:150px; display: none;} .loadEffect span{ display: inline-block; width: 20px; height: 20px; border-radius: 50%; background: lightblue; position: absolute; -webkit-animation: load 1.04s ease infinite; } @-webkit-keyframes load{ 0%{ -webkit-transform: scale(1.2); opacity: 1; } 100%{ -webkit-transform: scale(.3); opacity: 0.5; } } .loadEffect span:nth-child(1){ left: 0; top: 50%; margin-top:-10px; -webkit-animation-delay:0.13s; } .loadEffect span:nth-child(2){ left: 14px; top: 14px; -webkit-animation-delay:0.26s; } .loadEffect span:nth-child(3){ left: 50%; top: 0; margin-left: -10px; -webkit-animation-delay:0.39s; } .loadEffect span:nth-child(4){ top: 14px; right:14px; -webkit-animation-delay:0.52s; } .loadEffect span:nth-child(5){ right: 0; top: 50%; margin-top:-10px; -webkit-animation-delay:0.65s; } .loadEffect span:nth-child(6){ right: 14px; bottom:14px; -webkit-animation-delay:0.78s; } .loadEffect span:nth-child(7){ bottom: 0; left: 50%; margin-left: -10px; -webkit-animation-delay:0.91s; } .loadEffect span:nth-child(8){ bottom: 14px; left: 14px; -webkit-animation-delay:1.04s; }
