
html,body{
	width: 100%;
	height: 100%;
}

body{
	margin: 0;
	border: 0;
	padding: 0;
	background-color: rgba(51,51,51,1);
	position: relative;
}

#mapContainer{
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 1;
}
#leftBar{
	background: #071051;
	position:fixed;
	z-index: 2;
}
.chooseTopic{
	display: inline-block;
	width: 120px;
	height: 40px;
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}
.chooseTopic a{
	text-decoration: none;
	color: #fff;
}
