
html,body{
	width: 100%;
	height: 100%;
}

body{
	margin: 0;
	border: 0;
	padding: 0;
	position: relative;
}
#mapContainer{
	position: absolute;
	width: 100%;
	height:100%;
	z-index: 1;
}
.chooseTopic{
	display: inline-block;
	width: 120px;
	height: 40px;
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}
#leftBar{
	height: 60px;
	position: sticky;
	border-bottom: 1px solid #ebebeb;
}

.chooseTopic {
	float: left;
	height: 100%;
	margin: 0 30px;
}
.chooseTopic a{
	line-height: 60px;
	text-decoration: none;
	color: #262626;
	font-size: 16px; 
}
.chooseTopic.logo a{
	font-size: 20px;
}

#chartContainer{
	width: 100%;
	height: 500px;
	padding: 80px 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
#dayContainer{
	width: 100%;
	height: 400px;
	padding: 0 20px 40px 20px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

